<!DOCTYPE html>

<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/style.css">
<title>schublade</title>

<div id="container">
	<header>
		<div class="topnav" id="myTopnav">
   			<a href="/altetexte.html">Alte Texte</a>
    		<a href="/neuetexte.html">Neue Texte</a>
    		<a href="/kontakt.html">Kontakt</a>
    		<a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
    	</div>
    </header>

	<div id="main">
		<section class="spalten">
		  <div class="liste">
				<ul class="textlist">
				  {% for post in site.posts %}
				    <li>
				      <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }} <span class="date"> - {{ post.date | date: "%d.%m.%Y" }}</span></a>
				    </li>
				  {% endfor %}
				</ul>
		  </div>
			<div class="text">
				{{ content }}
			</div>
		</section>
  </div>

<footer>Copyright Hantschl</footer>
</div>

<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>
